
body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    margin: 0;
    text-align: center;
}
.nav {
    background: black;
    position: sticky;
    top: 0;
    height: 69px;
    z-index: 10;
    border-bottom: 1px solid seashell
}
.nav img {
    float: left;
    height: 50px;
    margin: 10px;
}
ul {
    float: right;
    list-style: none;
    text-decoration: underline;
    display: flex;
    
    
}
li {
    display: inline-block;
    margin: 0px 10px 0 10px;
}





main {
    background: red;
    height: 700px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

main .text {
    width: 100%;
    background: black;
    position: relative;
    bottom: 75%;
    display: inline-block;
    text-align: center;
    

}


.gallary {
    display: grid;
    text-align: center;
    width: 1000px;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
}
.gallary h2 {
    margin-bottom: 0;
}
.gallary p {
    margin: 10px;
}
.imgGallary {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.imgContainer {
    width: 300px;
    margin: 10px;
    text-align: center;

}
.gallary img {
    width: 300px;
    height: 200px;

}





.locations {
    height: 500px;
    max-width: 1200px;
    margin: 40px auto auto auto;
    padding-top: 85px;
    background-image: url(../images/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.locations h2 {
    margin: 15px;
}

.cardWrap {
    max-width: 1050px;
    margin: 15px auto auto auto;
    display: flex;
    justify-content: space-between;
}

.card {
    height: 300px;
    padding: 20px;
    margin-bottom: auto;
    flex-basis: 30%;
    box-sizing: border-box;
    background-color: black;
    opacity: 1;
}


footer {
    height: 200px;
    
}

.copyright {
    float: left;
    margin: 20px;
}
